<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>

    <add key="CodeViewer" value="C:\Users\Tim\AppData\Local\Programs\Microsoft VS Code\Code.exe"/>
    <add key="BasePath" value="c:\temp\"/>
    <add key="SourceDir" value="C:\temp\$testing\ng\"/>
    <add key="DestDir" value="C:\temp\$testing\ng\"/>
 
    
  </appSettings>

  <connectionStrings>
    <add name="AdventureWorks2014"
  connectionString="Data Source=DESKTOP-546VFJS\SQLEXPRESS;
      AttachDbFilename=C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AdventureWorks2014.mdf;
      Initial Catalog=AdventureWorks2014;
      Integrated Security=True "/>
  <add name="default"
    connectionString="Data Source=DESKTOP-546VFJS\SQLEXPRESS;
      AttachDbFilename=C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AssistWith.mdf;
      Initial Catalog=AssistWith;
      Integrated Security=True "/>
 
  </connectionStrings>
</configuration>
